=render 'header'
.pure-form.pure-form-aligned
  =form_for(@user) do |f|
    fieldset
      .pure-control-group
        =f.label :name 
        =f.text_field :name , :placeholder => 'Username'
      .pure-control-group
        =f.label :email
        =f.text_field :email , :placeholder => 'Email Address'
      .pure-control-group
        =f.label :password
        =f.password_field :password , :placeholder => 'password'
      .pure-control-group
        =f.label :password_confirmation,"Confirmation"
        =f.password_field :password_confirmation , :placeholder => 'Please type one more'
      .pure-controls
        =f.submit("Sign up",:class => "pure-button pure-button-primary")
