/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree
 *= require_self
 *= require purecss
 */
/*
 html{
   height:100%;
   width:100%;
 }

 body {
   margin: 0;
   padding: 0;
 }

 li{
   padding: 5px;
   border: solid 2px #333;
   margin: 5px 0px 5px 30px;
   list-style: none;
   float:left;
 }
header{
  background-color: red;
  height: 75px;
  width: 100%;
  text-align: center;
}
 nav{
  background-color: #FFAADD;
  height: 75px;
  position: absolute;
  top:100px;
  width: 100%;
 }

 .fixed{
  background-color: orange;
  position: fixed;
  margin-top: -75px
 }*/
